body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    44deg,
    rgb(76, 122, 253),
    rgb(209, 181, 121),
    rgb(11, 147, 233)
  );
  background-repeat: no-repeat;
  color: #333333;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

h1 {
  font-family: Cinzel, serif;
  text-shadow: 2px 2px 3px #ff7206;
  letter-spacing: 2px;
  border-bottom: 4px double #ff7206;
  padding-bottom: 0;
  margin-bottom: 20px;
}

h2,
h3,
h4 {
  text-shadow: 2px 2px 1px #ff7206;
  letter-spacing: 0.4px;

  color: #004d40;
}

a {
  color: #fbfefe;
  text-decoration: none;
}

a:hover {
  color: #2559de;
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
button {
  background-color: #00796b;
  color: #ffffff;
  border: none;
  font-size: 1.3em;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #004d40;
}

#step1,
#step2,
#step3,
#step5,
#step6,
#step7,
#step8,
#step9,
#step10,
#step11,
#step12,
#step13,
/* #step14, */
#step15 {
  display: none;
}
#step1.live,
#step2.live,
#step3.live,
#step5.live,
#step6.live,
#step7.live,
#step8.live,
#step9.live,
#step10.live,
#step11.live,
#step12.live,
#step13.live,
#step14.live,
#step15.live {
  display: flex;
  color: #333333;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  margin-inline: auto;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-align: left;
}
.fotosContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background: #080707; */
  /* border: 2px solid red; */
  gap: 10px;
}
.fotosContainer img {
  box-shadow: 2px 2px 3px black;
}
#photoButton {
  background-color: transparent;
  border: none;
  box-shadow: 1px 5px 6px #000000;
}
#photoImage1 {
  width: 97%;
  height: 700px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  margin-inline: auto;
  margin-bottom: 30px;
  border: 5px solid black;
}

#step12,
#step5,
#step11,
#step15 {
  display: none;
}
#step12.live,
#step5.live,
#step11.live,
#step15.live {
  display: block;
  width: 70%;
  margin-inline: auto;
  font-size: 1.3rem;
}
#step6.live {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-inline: auto;
}
#step6.live h3 {
  letter-spacing: 3px;
  width: 100%;
  margin-inline: 40%;
  font-family: sivil;
  font-size: 1.4em;
  text-align: center;
  color: #303534;
}
#step6.live div {
  width: 40%;
  align-items: left;
  text-align: left;
  font-size: 1.3em;
  margin-inline: auto;
}
#step13.live {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-inline: auto;
}
#step13.live div {
  width: 60%;
  text-align: center;
  align-items: left;
  text-align: left;
  font-size: 0.9em;
  margin-inline: auto;
}
#step13.live h3 {
  grid-column: span 2;
  width: 100%;
  margin-right: 45%;
  margin-left: 45%;
}

.content {
  display: none;
}

button.live {
  background: #e77e42;
}

.content.live {
  display: block;
  background: transparent;
  color: 333333;
}

.btn-container-foot {
  width: 100vw;
  margin-inline: auto;
}
.placesToSee {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: sivil;
  font-size: 1em;
  text-shadow: 2px 2px 3px #565757;
}
.placesToSee div {
  width: 600px;
  height: 320px;
  margin: 30px;
  overflow: hidden;
  /* border: 1px solid black; */
}
.placesToSee div img {
  width: auto;
  height: 100%;
  object-fit: cover;
  box-shadow: 05px 05px 8px black;
}

label {
  font-family: sivil;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: fit-content; */
  /* margin: auto; */
}
#submit {
  border: none;
  background: transparent;
  margin-top: 10px;
  box-shadow: 05px 05px 8px black;
  font-size: 1em;
  width: auto;
  /* margin-inline: auto; */
}
#retrieveUsers {
  width: 100%;
  height: auto;
  border: none;
  background: transparent;
  font-family: Sivil;
  font-size: 1.5em;
  padding: 20px;
  text-align: center;
  text-shadow: 05px 05px 8px black;
  margin-top: 30px;
  /* box-shadow: 05px 05px 8px black; */
}
#free-button {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-family: Sivil;
  font-size: 100%;
  text-shadow: 05px 05px 8px black;
  /* box-shadow: 05px 05px 8px black; */
}
#userTable {
  background-color: transparent;
  color: #080707;
  border: transparent;
  font-family: Sivil;
  font-size: 1em;
  text-align: left;
  text-shadow: 05px 05px 8px black;
  margin-inline-start: 25%;
  margin-inline-end: 25%;
}
#patrol {
  margin-right: 5px;
}
.grid-item-2 {
  /* border: 2px solid  blue; */
  width: 100vw;
}

@media (max-width: 368px) {
  .container {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: center;
    align-items: center;
  }
  #step15.live {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* width: 100vw; */
    /* margin-inline: 0, auto; */
    /* font-size: 1.3rem; */
    /* letter-spacing: 1px; */
  }
  #photoImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 20px;
  }
  .content {
    font-size: 18px;
  }
  #step1.live,
  #step2.live,
  #step3.live,
  #step5.live,
  #step6.live,
  #step7.live,
  #step8.live,
  #step9.live,
  #step10.live,
  #step11.live,
  #step12.live,
  #step13.live,
  #step14.live,
  #step15.live {
    display: flex;
    color: #333333;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin-inline: auto;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: left;
  }
}
